<%- include('blocks/header')%>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Restore password</h4>
      </div>
      <div class="modal-body">
        <form action="/restore_password" method="post" id="restore">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" name="email">
          </div>
          <button type="submit" class="btn btn-default">Remind Password</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="content">
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="active">Log In</li>
  </ol>
  <div class="row">
    <main>
      <h3>Register</h3>
      <hr>
      <%- include('messages')%>
      <div class="helper"></div>
      <p>By creating an account with our online store you will be able to move through the checkout process much faster, store multiple shipping addresses, create and edit a wishlist, view and track your orders in your account and more.
      Registration is quick, easy and secure.</p>
      <a href="/register" role="button" class="btn btn-forward">Register</a>
    </main>
    <aside>
      <h3>Log in</h3>
      <hr>
      <p>If you have an account please log in</p>
      <form action="/login" method="post" class="user" id="login">
        <div class="form-group clearfix">
         <div>
            <input type="text" class="form-control" placeholder="Email.." name="email" <% if(locals.user) {%>disabled<%}%> autofocus>
         </div>
          <div>
            <input type="password" class="form-control" placeholder="Password.." name="passwd" <% if(locals.user) {%>disabled<%}%>>
          </div>
          <button type="submit" class="btn btn-forward pull-right" <% if(locals.user) {%>disabled<%}%>>Log In </button>
        </div>
        <p><a href="#">Forgot Password?</a></p>
      </form>
    </aside>
  </div>
  <hr>
</div>
<%- include('blocks/footer')%>
<script>
  $(function() {
    $('aside a').click(function() {
      $('.container .modal').modal('show');
      return false;
    });
  });
</script>