<div class="checkout">
  <div class="helper"></div>
  <form action="/cart/send_order" method="post" class="row">
    <div class="col-md-6">
      <h4>Contact information</h4>
      <div class="form-group">
        <label>Your Name</label>
        <input type="text" class="form-control" value="<%= user.name %>" name="firstName">
      </div>
      <div class="form-group">
        <label>Your Surname</label>
        <input type="text" class="form-control" value="<%= user.lastName %>" name="lastName">
      </div>
      <div class="form-group">
        <label>Your Email</label>
        <input type="email" class="form-control" value="<%= user.email %>" name="email">
      </div>
      <div class="form-group">
        <label>Your Phone Number (required)</label>
        <input type="text" class="form-control" placeholder="Phone number" name="tel-num">
      </div>
    </div>
    <div class="col-md-6">
      <h4>Payment and delivery information</h4>
      <div class="form-group">
        <b>Payment type:</b>
        <div class="radio">
          <label><input type="radio" name="payment" value="cash" checked> Cash</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="payment" value="cashless"> Cashless</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="payment" value="credit-card"> Credit Card</label>
        </div>
      </div>
      <div class="form-group">
        <label>Delivery Address</label>
        <textarea name="address" rows="5" class="form-control" placeholder="Delivery Address"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit">Send Order</button>
      </div>
    </div>
  </form>
</div>