<%- include('partials/header')%>
<div class="content">
  <h3>Discounts</h3>
  <hr>
  <%- include('../messages')%>
  <div class="row">
    <div class="col-sm-6">
      <h4 id="add">Add discount</h4>
      <form action="/app/discounts" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Number as xxxxxxxx" name="number">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Discount" name="discount">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Add Discount</button>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <h4 id="remove">Remove discount</h4>
      <form action="/app/discounts?_method=DELETE" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Number as xxxxxxxx" name="number">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Remove Discount</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') %>