<%- include('partials/header') %>
	<div class="content">
    <h3>Managers</h3>
    <hr>
    <%- include('../messages')%>
    <div class="row">
      <div class="col-sm-6">
        <h4 id="add">Add manager</h4>
        <form action="/api/manager" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="passwd">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirm">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Add Manager</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <h4 id="remove">Remove manager</h4>
        <form action="/api/manager?_method=DELETE" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Remove Manager</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>