      <div class="under-footer">
        <div class="col">
          <h3>Fabrique <small>fine furnishing</small></h3>
            ©2012 All Rights Reserved
        </div>
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.tablesorter.min.js"></script>
    <script src="/js/plugins/validator.min.js"></script>
    <script src="/js/fabrique.min.js"></script>
</html>