<%- include('partials/header')%>
<div class="content">
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="active"><%= title %></li>
  </ol>
  <h3><%= title %></h3>
  <hr>
  <dl>
  <dt>
    <a href="#question1" data-toggle="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, animi.</a>
  </dt>
  <dd id="question1" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, officia incidunt dolorum porro quae molestiae at aspernatur voluptate iure quisquam perferendis, eius natus. Fugiat quae facere, itaque quo voluptate consectetur enim repellendus, ipsa vel quas doloribus quos, quam laborum ad rerum nam eum laboriosam nesciunt omnis. Tempora, animi, fugiat.</dd>
</dl>
<dl>
  <dt>
    <a href="#question2" data-toggle="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, animi.</a>
  </dt>
  <dd id="question2" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, officia incidunt dolorum porro quae molestiae at aspernatur voluptate iure quisquam perferendis, eius natus. Fugiat quae facere, itaque quo voluptate consectetur enim repellendus, ipsa vel quas doloribus quos, quam laborum ad rerum nam eum laboriosam nesciunt omnis. Tempora, animi, fugiat.</dd>
</dl>
<dl>
  <dt>
    <a href="#question3" data-toggle="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, animi.</a>
  </dt>
  <dd id="question3" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, officia incidunt dolorum porro quae molestiae at aspernatur voluptate iure quisquam perferendis, eius natus. Fugiat quae facere, itaque quo voluptate consectetur enim repellendus, ipsa vel quas doloribus quos, quam laborum ad rerum nam eum laboriosam nesciunt omnis. Tempora, animi, fugiat.</dd>
</dl>
<dl>
  <dt>
    <a href="#question4" data-toggle="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, animi.</a>
  </dt>
  <dd id="question4" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, officia incidunt dolorum porro quae molestiae at aspernatur voluptate iure quisquam perferendis, eius natus. Fugiat quae facere, itaque quo voluptate consectetur enim repellendus, ipsa vel quas doloribus quos, quam laborum ad rerum nam eum laboriosam nesciunt omnis. Tempora, animi, fugiat.</dd>
</dl>
<dl>
  <dt>
    <a href="#question5" data-toggle="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, animi.</a>
  </dt>
  <dd id="question5" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, officia incidunt dolorum porro quae molestiae at aspernatur voluptate iure quisquam perferendis, eius natus. Fugiat quae facere, itaque quo voluptate consectetur enim repellendus, ipsa vel quas doloribus quos, quam laborum ad rerum nam eum laboriosam nesciunt omnis. Tempora, animi, fugiat.</dd>
</dl>
<hr>
</div>
<%- include('partials/footer')%>