<%- include('blocks/header')%>
<div class="content">
	<h3><%= title %></h3>
	<hr>
	<div class="helper"></div>
	<form action="/update_password" method="post" class="user">
    <div class="form-group">
     <div>
        <input type="text" class="form-control disabled" placeholder="Email.." name="email" value="<%= email %>">
     </div>
      <div>
        <input type="password" class="form-control" placeholder="New password.." name="passwd">
      </div>
      <button type="submit" class="btn btn-forward"> Restore Password </button>
    </div>
  </form>
</div>
<%- include('blocks/footer')%>